<body>
{
background-color:#000099;
}

p {
  background-style:groove;
  border-color: orange;
  font-family: 'Zen Dots', cursive;
}
h1{
  color:black;
  font-family: 'Zen Dots', cursive;
}

h2{
color:#009933;
  font-family: 'Zen Dots', cursive;
}

h3{
color:black;
  font-family: 'Zen Dots', cursive;
}
h4{
  color:black;
  font-family: 'Zen Dots', cursive;
}

p.a {
  font-family: "Times New Roman", Times, serif;
}

p.b {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('https://cdn.glitch.com/0aa59f96-b4b7-417c-9bc3-d14fcf7b3e8c%2F2578748.jpg?v=1621335894872');
}