<!DOCTYPE html>
<html lang="en">
  
  <head> 
    <title>Hello World!</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">

  </head>
  
  
  <body>
    </a>
    <a href="Vadības komanda.html">
      <h2>
    <li>Vadības komanda</li>
    </a>
  <a href="Atbalsta personāls.html">
    <li>Atbalsta personāls</li>
    <a href="Simbolika.html">
      <li>Simbolika</li>
      <a href="Video.html">
        <li>Video</li>
    <a href="Vietnes autori.html">
      <li>Vietnes autori</li>
  </h2>

    <br>
     <img src=https://cdn.glitch.com/0aa59f96-b4b7-417c-9bc3-d14fcf7b3e8c%2Funnamed.png?v=1621338545515> 
    
  
  <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6800.8631389781385!2d25.441482083963365!3d57.52706928003216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ebec2dbd55fc45%3A0x535d400d7b8fa4c!2sValmieras%202.%20vidusskola!5e0!3m2!1slv!2slv!4v1619608223219!5m2!1slv!2slv" width="2000" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
  </body>
  
  
  
</html>
